    <div class="row" id="fila">
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
      <div class="col-1 columna" id="col"></div>
    </div>
